@import 'tailwindcss';

@import '@fontsource-variable/geist';
@import '@fontsource-variable/geist-mono';

@theme inline {
  --font-sans: 'Geist Variable', sans-serif;
  --font-mono: 'Geist Mono Variable', monospace;
}

body {
  @apply m-0 bg-white text-black min-h-screen selection:bg-yellow-200 selection:text-black;
}
